<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Find The Right Fit</title>
    <link rel="stylesheet" href="../static/styles/landing.css">
    <link rel="icon" type="static/image/png" href="static/images/coug_icon.png">
  </head>
  <body>
  <div class='wrapper'>
    <h1> Connect With a TA Or Instructor Now</h1>
  </div>
  <div class="btns">
    <button class='sign_in' type='button' onclick= "window.location.href = '{{url_for('login')}}';">Sign In</button>
    <button class='sign_up' type='button' onclick="window.location.href = '{{url_for('create')}}';">Sign Up</button>
  </div>
  </body>
</html>
